.mw-logo {
  height: 22px;
  width: 60px;
}

.wz-logo {
  height: 50px;
  width: 90px;
}

.weapon-image {
  max-height: 270px;
}

.github-logo {
  max-height: 20px;
  max-width: 20px;
}

.github-logo-sm {
  max-height: 22px;
  max-width: 22px;
}

.disclaimer {
  font-size: 0.6rem;
}

.disclaimer-md {
  font-size: 0.7rem;
}
