.btn {
  background-color: gainsboro;
  border: none;
  color: black;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  font-weight: bold;
  border-radius: 4px;
}
